.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    align-items: center;
    padding: 2.5em 2em;
}

.banner__caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0 0 0;    
}

.banner__pesquisa {
    margin-top: 1em;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    border-radius: 24px;
    color: var(--branco);
    padding: 1.2em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--font-principal);
    color: var(--branco);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: url("../img/Placeholder.svg") no-repeat;
    background-position: 1em;
}

@media (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }

    .banner__pesquisa {
        width: 50%;
    }

    .banner__pesquisa::placeholder {
        background-position: 5em;
        padding-left: 2.0em;
    }
}

@media (min-width: 1400px) {
    .banner__pesquisa {
        width: 45%;
    }

    .banner__pesquisa::placeholder {
        background-position: 1em;
    }
     .banner {
        padding: 6em 0;
     }
}